*, body {
  font-family: 'Montserrat', sans-serif;
}

#topContainer {
  padding: 10px 10px 0 10px;
}

#highScores {
  cursor: pointer;
}

#mainContent {
  width: 50%;
  padding: 100px 0;
  margin: 0 auto;
}

#mainText {
  font-size: 30px;
  padding: 10px
}

#directions {
  padding: 10px;
  font-size: 20px;
}

.answerButtons {
  display: block;
  margin: 10px;
}

#feedback {
  font-style: italic;
}

#finished {
  font-size: 30px;
}

#finalScore, #initialsLabel {
  font-size: 20px;
}

#submission {
  margin: 15px 0 15px 0;
}

#leaderboardSection {
  width: 100%;
  padding-bottom: 10px
}

#leaderboardTitle {
  padding: 10px;
}

.rankings {
  margin: 0;
  padding: 4px;
}

.dangerOpac {
  background-color: #dc3546a4;
  border-radius: 2px;
}

#restart, #clear {
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  #mainContent {
    width: 100%;
    padding: 100px 20px;
  }

  #aBtn {
    font-size: 12px;
  }
}