#topContainer {
  padding-top: 5px;
}

#highScores {
  cursor: pointer;
}

#mainContent {
  width: 50%;
  padding-top: 200px;
}

#directions {
  padding: 10px;
  font-size: 20px;
}

.answerButtons {
  display: block;
  margin: 10px;
}

#feedback {
  font-style: italic;
}

#initialsLabel, #initials {
  display: inline-block;
}